In [4]:
def adicao (n1, n2):
    total = n1 + n2
    return total

print(adicao(2,4))

6

In [6]:
# Operações

def soma (n1, n2):
    total = n2 + n2
    return total

def sub (n1, n2):
    total = n1 - n2
    return total

def mult (n1, n2):
    total = n1 * n2
    return total

def div (n1, n2):
    total = n1 / n2
    return total



print(soma(2,4))
print(sub(27,4))
print(mult(9,4))
print(div(10,2))

6
23
36
5.0

In [7]:
def quadrado(x):
    area = x * x
    return area
print(quadrado(9))

81

In [8]:
def quadrado():
    x = int(input('Digite um valor'))
    area = x * x
    return area
print(quadrado())


lado = int(input('Digite um valor'))
def quadrado(lado):
    area = lado * lado
    return area
print(quadrado(lado))

36

In [25]:
def numero(n):
    if n % 2 == 0:
        return 'par'
    else:
        return 'impar'
    
print(numero(2))
print(numero(77))

par
impar

In [23]:
n = int(input('Digite um numero'))

def impar(n):
    if n % 2 != 0:
        return 'ímpar'
    
print(impar(n))

None

In [11]:
def circulo(r):
    area = 3.14 * (r*r)
    return area
print(circulo(5))

78.5

In [14]:
def media():
    nota1 = int(input('Nota'))
    nota2 = int(input('Nota'))
    nota3 = int(input('Nota'))

    conta_media = nota1 + nota2 + nota3 / 3
    return conta_media

print(media())

23.333333333333332

In [ ]:

# Os tres parametros são substituidos

m1 = int(input('Nota'))
m2 = int(input('Nota'))
m3 = int(input('Nota'))

def media(nota1, nota2, nota3):
    conta_media = nota1 + nota2 + nota3 / 3
    return conta_media

print(media(m1, m2, m3))

In [28]:
lista = [10, 24, 540, 24]

def soma(lista):
    total = 0
    for i in (lista):
        total += i
    return total

print("A soma da lista é", soma(lista))

# Usar duas funções para a média

def media(lista):
    return soma(lista) / len(lista)

print("A média dos valores da lista é:", media(lista))

A soma da lista é 598
A média dos valores da lista é:  149.5

In [31]:
pip install pandas

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [32]:
import pandas as pd

data = {'coluna1' : [1, 2, 3, 4, 5],
        'coluna2' : [11, 12, 13, 14, 15]
}

df = pd.DataFrame(data)
df

   coluna1  coluna2
0        1       11
1        2       12
2        3       13
3        4       14
4        5       15

In [38]:
def soma_linha(df):
    return df['coluna1'] + df['coluna2']

df['soma'] = soma_linha(df)

In [37]:
df

   coluna1  coluna2  soma
0        1       11    12
1        2       12    14
2        3       13    16
3        4       14    18
4        5       15    20

In [45]:
def mediaUser():

    valores = []

    for i in range(3):
        valor = float(input("Digite um valor".format(i+1)))
        valores.append(valor)
        
    media = sum(valores)/len(valores)
    return media

print('Valor da média será: ', mediaUser())

197.0

In [22]:

# Os tres parametros são substituidos


def numero():
    n = int(input('Digite um número'))
    i = 0

    while i != n:
        print(i+1)
        i+=1

numero()

1
2
3
4

In [36]:
cores = ['azul', 'amarelo', 'vermelho', 'roxo', 'rosa']

user = str(input('Digite uma cor')).lower()

if user in cores:
    print(f'A cor {user} está na lista')
else:
    print('Cor não encontrada')



def cor():
    cores = []

    for i in range(5):
        cor = str(input('Digite uma cor'))
        cores.append(cor)
        print(cores)

cor()

A cor azul está na lista
['ca']
['ca', 'ds']
['ca', 'ds', 's']
['ca', 'ds', 's', 'dsf']
['ca', 'ds', 's', 'dsf', 'df']

In [39]:

def despesas(meses):
    despesa_total = 0
    for mes in meses:
        despesa = int(input(f'Digite um valor para {mes}'))
        despesa_total += despesa
    print(despesa_total)

meses = ['janeiro', 'fevereiro', 'março']
despesas(meses)

402

In [43]:
produtos = {'camisetas': 20, 'calças': 15, 'sapatos': 30}

def atualizar_estoque(produtos):
    produto = input("Digite um produto")
    qnt_vendida = int(input("Digite a quantidade vendadida desse produuto"))

    if produto in produtos:
        produtos[produto] -= qnt_vendida
        print(produtos)
    else:
        print('Produto não existe')

atualizar_estoque(produtos)

{'camisetas': 20, 'calças': 15, 'sapatos': 10}